always-auth=true
auto-install-peers=true
registry=https://registry.npmjs.org

# https://github.com/nrwl/nx/discussions/21847#discussioncomment-9030581
node-linker=hoisted

# Token with "packages:read" scope (Github Packages)
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Package registry via Github Packages
@barguide:registry=https://npm.pkg.github.com
@openthrottle:registry=https://npm.pkg.github.com
@rocketcms:registry=https://npm.pkg.github.com
@visormatt:registry=https://npm.pkg.github.com
