# always-auth=true
# auto-install-peers=true
# node-linker=hoisted

registry=https://registry.npmjs.org

# Token with "packages:read" scope (Github Packages)
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Package registry via Github Packages
@openthrottle:registry=https://npm.pkg.github.com
