@import 'tailwindcss';
@import 'tw-animate-css';

@import '@openthrottle/react-router-shadcn/src/theme.css';

@source "../../../packages/mattscholta/**/*.{css,ts,tsx}";
@source "../../../packages/**/*.{css,ts,tsx}";

:root {
  --brand: var(--color-orange-500);
}

@utility text-highlight {
  animation: gradient 4s ease infinite;
  background-size: 250% 250%;

  @apply bg-linear-to-r from-orange-400 to-orange-600 bg-clip-text text-transparent;
}