#############################################################################
# Folders
#############################################################################
**/.terraform/*
secrets/

#############################################################################
# Files
#############################################################################
.terraformrc
*_override.tf
*_override.tf.json
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc
tfplan
*.tfplan

#############################################################################
# Includes
#############################################################################
