#############################################################################
# Folders
#############################################################################
.env*

#############################################################################
# Files
#############################################################################

#############################################################################
# Includes
#############################################################################
!.env.default
!.env.docker
